#logo{
    width: 475px;
    animation: hw5_move 5s;
}

@keyframes hw5_move{
    from{width: 25px;}
    to{width:475px;}
}

body {
    font-family: "Poppins", Serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px 50px 0 0;
}
.card{
    border-radius: 50px;
}


.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.nav_links a:link {
    color: blue;
    text-decoration: underline;

}


.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px; 
}

@media screen and (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .nav_links {
        flex-direction: row;
        justify-items: right;

    }

    .pricing {
        justify-content: center;
    }

    .card {
        flex-basis: 275px;
        justify-content: center;
    }
    body > header{
        position:sticky;
        top:0;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #logo{
        animation: none;
    }
}

@media print {
    body {
        background-image: none;
        font-family: 'Arial', helvetica;
    }

    header {
        display: block;
    }

    nav{
        width: 100%;
    }
    nav, .nav_links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

 
    .pricing {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45addd;
        flex-basis: 325px;
    }

    .gallery, #gallery {
        display: none; 
    }
    .card ul li:nth-child(2):after{
        content:"👍";
    }
}
